* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Bitstream";
    src: url(assets/VeraMono.ttf);
}

/* central de controle: cores, tamanhos, estilos, padrão */
:root {
    /* colors */
    --header-bg-color: #000000;
    --content-bg-color: #f4f6f8;
    --text-desc: #666666;
    --box-card-bg-color: #FFFFFF;
    --ob-bg-color: #FFFFd1;
    --ob-border-color: #d1d1d1;
    --ob-btn-bg-color: #fe509c;
    --ob-btn-txt-color: #FFFFFF;

    /* fonts **/
    --font-main: Helvetica;
    --text-font: Rubik, sans-serif;

    /* sizes h w */
    --dektop-width: 1196px;
    --max-width-col: 380px;
}

body {
    height: 100vh;
    background-color: var(--content-bg-color);
}

.container {
    padding-bottom: 30px;
}

header {
    background-color: var(--header-bg-color);
}

header .inner-header {
    display: flex;
    justify-content: center;
}

header .inner-header .holder-logo {
    width: var(--dektop-width);
    padding: 30px;
}

header .inner-header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .inner-header .logo a {
    position: relative;
    text-decoration: none;
    text-align: center;
}

header .inner-header .logo .img-logo {
    width: 165px;
}

header .inner-header .holder-pagseg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -70px;
}

header .inner-header .holder-pagseg svg {
    width: 90px;
    height: 20px;
    margin-left: -30px;
}

.countdown {
    background-color: #303030;
    display: flex;
    justify-content: center;
    width: 100%;
}

.countdown .holder-countdown {
    width: 1196px;
}

.countdown .holder-countdown .countdown-text {
    display: flex;
    justify-content: center;
}

.countdown .holder-countdown .countdown-text p {
    font-family: var(--text-font);
    font-weight: bold;
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

.countdown .holder-countdown .countdown-time {
    color: #ffc926;
    font-size: 18px;
    font-family: var(--text-font);
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}

.countdown .holder-countdown .countdown-time span {
    font-weight: 700;
}

.countdown .holder-countdown .countdown-time svg {
    width: 14px;
}

.cards {
    margin: 0 auto;
    margin-top: 30px;
    font-family: var(--text-font);
    max-width: var(--dektop-width);
}

/* colunas config */

.col-checkout-1 {
    float: left;
    max-width: var(--max-width-col);
}

.col-checkout-2 {
    float: left;
    margin: 0 40px 0 40px;
    max-width: var(--max-width-col);
}

.col-checkout-3 {
    float: left;
    width: 29.5%;
    max-width: var(--max-width-col);
}

.col-checkout-4 {
    float: left;
    width: 29.5%;
    max-width: var(--max-width-col);
}

/* configurações colunas */

/* conjunto card ativo */
.box-card {
    margin-top: 24px;
    border: 2px solid grey;
    border-radius: 30px;
    padding: 30px;
    background-color: var(--box-card-bg-color);
}

.box-title {
    display: flex;
}

.holder-number {
    background-color: black;
    box-sizing: border-box;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
    height: 21px;
    width: 21px;
    text-align: center;
    line-height: 22px;
}

.title-card {
    line-height: 21px;
    position: relative;
    top: 1px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 10px;
}

.desc {
    font-size: 13px;
    color: var(--text-desc);
    margin-top: 8px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    margin: 9px 0;
    padding: 0 7px;
}

.label-control {
    font-size: 13px;
    color: #333;
}

.holder-input {
    position: relative;
}

input,
select {
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #d0d0d0;
    border-radius: 30px;
    color: #333;
    font-family: var(--text-font);
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    outline: none;
    padding: 16px 20px 15px;
    height: 45px;
    margin-top: 6px;
    transition: .5s;
}

input:focus {
    border: 1px solid rgb(61, 61, 61);
    background-color: var(--content-bg-color);
}

::placeholder {
    color: #d0d0d0;
}

.flex {
    display: flex;
    margin-top: 6px;
}

input[type=tel] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    padding: 10px;
    margin: 0;
}

.input-area-cod {
    border: 1px solid #d0d0d0;
    height: 45px;
    width: 64px;
    background-color: #f4f6f8;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 13px;
    font-family: var(--text-font);
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #047803;
    height: 45px;
    font-size: 16px;
    font-family: var(--text-font);
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
}

.flex {
    display: flex;
}

.input-flex {
    width: 50%;
}

.input-flex-card {
    width: 85%;
}

.error-block {
    color: #e50f38;
    display: none;
    font-size: 11px;
    line-height: 1.3;
    margin: 7px 0 0;
    text-align: left;
}

/* fim box card ativo*/


/* payment info */

.card-payment {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f4f6f8;
}

input[type="radio"] {
    height: 16px;
    width: 16px;
    margin: 15px;
}

.type-payment {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.cards-logo-type-payment {
    display: flex;
    justify-content: space-around;
    width: 220px;
    margin-left: 45px;
}

.optional {
    font-size: 11px;
    color: #818181;
}

.mb {
    margin-bottom: 20px;
}

/* credit card config */

.card-unknow-front {
    background-color: #cccccc;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    height: 184px !important;
    transform: scale(.8) !important;
    width: 100% !important;
    border-radius: 10px;
}

.card-logo {
    display: none;
    position: absolute;
    right: 5%;
    top: 8%;
    transition: 400ms;
}

.card-details-info {
    position: absolute;
    width: 85%;
    left: 7.5%;
    bottom: 30px;
    height: 65%;
}

.card-chip {
    width: 50px;
    height: 32px;
    border-radius: 5px;
    position: relative;
    background-color: #b8b8b8;
}

.card-chip::before {
    content: " ";
    display: block;
    width: 70%;
    height: 60%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #d9d9d9;
    position: absolute;
    top: 20%;
}

.card-number {
    font-family: "Bitstream", monospace;
    font-weight: 600;
    font-size: 16px;
    clear: both;
    margin-bottom: 30px;
    color: #FFFFFF;
    margin-top: 15px;
    transition: opacity 400ms linear;
}

.card-name {
    font-family: "Bitstream", monospace;
    color: #FFFFFF;
    font-size: 13px;
    text-transform: uppercase;
    float: left;
}

.card-expiry {
    position: relative;
    width: 20%;
    float: right;
    color: #FFFFFF;

}

/* end credit card config */

/* PIX config*/

.pix-payment,
.bill-payment {
    border: 1px solid black;
    margin-top: 15px;
    background-color: #f4f6f8;
    border-radius: 5px;
}

.header-pix-payment,
.header-bill-payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    font-size: 13px;
    font-weight: 600;
}

.off-info {
    background-color: #000000;
    color: #FFFFFF;
    padding: 3.5px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.pix-desc {
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
}

.bill-desc {
    font-size: 13px;
    font-weight: 600;
    padding: 12px;
}

.pix-price,
.bill-price {
    color: #037803;
    font-weight: 700;
    padding: 10px;
}

/***  ORDER BUMP  ***/

/*
.order-bump {
    border: 1px solid blue;
} */
.order-bump-offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.order-bump-promo {
    background-color: #ffffd1;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    color: #666;
    border-radius: 15px;
    padding: 4px 15px;
}

.emoji {
    font-size: 16px;
    display: inline-block;
    line-height: 1;
    margin-right: 8px;
}

.arrow-bg {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 35px;
    padding: 0;
    width: 35px;
    text-align: center;
    cursor: pointer;
}

.arrow-bg i {
    background-position: 50%;
    height: 35px;
}

.icon-next-prev {
    background-image: url(assets/next-prev-owl-nav.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 12px;
    width: 7px;
}

.icon-next-prev.-rotate {
    transform: scale(-1);
}

.icon {
    display: inline-block;
}

.order-bump-item-spinner {
    display: flex;
}

.order-bump-prod {
    background-color: var(--ob-bg-color);
    border: 1px dashed var(--ob-border-color);
    border-radius: 4px;
    margin-right: 1px;
    padding: 23px 23px 20px;
    text-align: left;
}

.order-bump-row-prod {
    border-bottom: 1px dashed var(--ob-border-color);
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.order-bump-prod-name {
    font-size: 12px;
    line-height: 1.4;
}

.ob-img {
    height: 60px;
    display: block;
    margin-right: 16px;
    width: 60px !important;
}

.order-bump-price {
    box-sizing: border-box;
    margin-top: 5px;
}

.order-bump-old-price {
    color: var(--text-desc);
    font-size: 12px;
    text-decoration: line-through;
}

.order-bump-new-price {
    color: var(--ob-price-color);
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.order-bump-button {
    background-color: var(--ob-btn-bg-color);
    border-radius: 5px;
    color: var(--ob-btn-txt-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.order-bump-button-checkbox {
    margin: 0 5px 0 20px;
}

.order-bump-button-cta {
    font-size: 13px;
    font-weight: 500;

}



/** /ORDER BUMP ***/

/* */
/* end payment info */

.box-card-resume {
    margin-top: 24px;
    border-radius: 30px;
    max-width: 385px;
    padding: 30px;
    background-color: var(--box-card-bg-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .05);
}

.no-bold {
    font-weight: 500;
}

.input-cupom {
    height: 10px;
    width: 70%;
}

.btn-cupom {
    background-color: transparent;
    color: #666666;
    font-size: 13px;
    font-weight: 600;
    width: 0;
    height: 0;
    margin-left: 5px;
}

.btn-cupom:hover {
    cursor: pointer;
    text-decoration: underline;
}

.cart-resume {
    margin-top: 25px;
    background: #f4f6f8;
    border-radius: 4px;
    font-weight: 500;
    padding: 20px;
}

.detail {
    align-items: baseline;
    color: #333;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    line-height: 1;
    padding: 9px 0;
}

.total {
    color: #037803;
    font-weight: 600;
}

.value-total {
    font-size: 16px;
    font-weight: 600;
}

.container-cart-resume {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.item-image {
    width: 60px;
}

.thumb-product {
    width: 60px;
}

.item-detail {
    font-size: 12px;
    padding: 0 10px 10px 25px;
}

.item-name {
    line-height: 1.4;
    color: #666666;
    margin-bottom: 10px;
}

.item-row {
    margin-bottom: 20px;
}

.item-variation {
    display: inline-block;
    line-height: 1.4;
    margin-left: -3px;
    padding: 0 3px;
    font-weight: 700;
    color: #666666;
}

.item-price {
    line-height: 1.4;
    color: #333;
    font-weight: 600;
}

.item-quantity-selector-holder {
    margin-top: 11px;
    max-width: 180px;
    position: relative;
}

.relative {
    position: relative;
}

.switch-control {
    font-size: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.switch-control.less {
    left: 0;
    padding: 16px 17px;
}

.icon {
    display: inline-block;
}

.icon-less {
    background: url(assets/quantity-less.svg) no-repeat;
    height: 2px;
    width: 15px;
}

.icon-more {
    background: url(assets/quantity-more.svg) no-repeat;
    height: 15px;
    width: 15px;
}

.switch-control.more {
    padding: 10px 17px;
    right: 0;
}

.input-quantity {
    background-color: #f5f5f5;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 9px;
    text-align: center;
    width: 100%;
}

/* testemonials */

.testimonials {
    background: #fff;
    border-radius: 30px;
    box-sizing: border-box;
}

.box-testimonial {
    border-bottom: 1px dashed #e5e5e5;
    display: flex;
    padding: 10px 0 5px;
    width: 100%;
}

.box-testimonial:last-child {
    border: 0;
}

.box-testimonial__photo {
    background: #fff;
    display: inline-block;
    width: 60px;
}

.photo {
    border-radius: 50%;
    display: inline-block;
    width: 100%;
}

.box-testimonial__infos {
    width: 180px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.pull-left {
    float: left;
}

.infos__name,
.box-testimonial__infos .infos__text {
    letter-spacing: -.53px;
    line-height: 20px;
    font-size: 13px;
}

.black-60 {
    color: #666 !important;
}

p:not(.-custom-margin) {
    margin-bottom: 10px;
}

/* end testemonials */

footer {
    clear: both;
    color: black;
    padding: 30px 0 0;
    text-align: center;
    margin-bottom: 30px;
}

footer {
    transition: all .4s;
}

.-title {
    font-family: var(--text-font);
    font-size: 13px;
}

.-payment-list {
    margin: 8px var(--negative-payment-list-spacing, 1px);
}

footer .-payment-list img {
    display: inline-block;
    height: var(--payment-img-height, 26px);
    margin: var(--payment-list-spacing, 6px);
    width: var(--payment-img-width, 39px);
}

.store-info-holder {
    font-family: var(--text-font);
    font-size: 10px;
}

.-store-name {
    margin-bottom: 5px;
}

.security-label {
    margin-top: 25px;
}

.black-svg {
    fill: rgb(0, 0, 0);
}

.hide, .itens-count-mobile, .resume-description, .total-cart-mobile, .icon-accordion {
    display: none;
}

/*  responsive media controls */

@media (max-width: 1200px) {

    header .inner-header .holder-logo {
        width: 380px;
    }
    
    .inner-header {
        width: 100%;
        padding-right: 10px;
    }

    header .inner-header .holder-pagseg svg {
        height: 13px;
        width: 65px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .cards .col-3 {
        order: 0;
    }

    .flex-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cards .col-3-closed {
        background-color: #e3e8ed;
        padding: 12px 25px 12px 25px;
        box-shadow: 0 0px 2px rgba(0, 0, 0, .05);
        transition: .5s;
    }

    .title-card-mobile, .itens-count-mobile {
        display: contents;
        font-size: 12px;
        font-weight: 600;
        padding: 0;
    }

    .resume-description {
        display: table-cell;
        font-size: 11px;
        color: #666666;
    }

    .total-cart-mobile {
        display: contents;
        color: #037803;
        font-weight: 700;
    }

    .cards .col-1 {
        order: 1;
    }

    .cards .col-4 {
        order: 3;
    }

    .steps-checkout {
        display: block !important;
        list-style: none;
        max-width: 400px;
        width: 90%;
    }

    .steps-checkout .checkout-step {
        float: left;
        text-align: center;
        width: 33.333333%;
    }

    .steps-checkout .checkout-step .progress-bar {
        background-color: #858585;
        height: 2px;
        left: 0;
        position: relative;
        top: 17px;
        width: 100%;
    }

    .steps-checkout .checkout-step .info {
        font-size: 11px;
        font-weight: 600;
    }

    .steps-checkout .checkout-step.disabled {
        opacity: .5;
        pointer-events: none;
    }

    .holder-icon {
        background-color: #000000;
        border: 4px solid #f4f6f8;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        height: 31px;
        line-height: 22px;
        position: relative;
        width: 31px;
        z-index: 1;
    }

    .col-checkout-1,
    .col-checkout-2,
    .col-checkout-3,
    .col-checkout-4 {
        width: 90%;
    }

    .col-mobile-hide {
        display: none;
    }

}

@media (max-width: 520px) { 

    body, .container, .cards {
        width: 100%;
    }

    .col-checkout-2 {
        display: none;
    }

    .col-checkout-1 {
        width: auto;
    }

    .box-identify-mobile {
        border: 0;
        border-radius: 0;
        border-top: 1px solid #eee;
        box-shadow: none;
        margin-top: 20px;
        padding-left: 14px;
        padding-right: 14px;
        width: auto;
        transition: .2s;
    }
}




/* end responsive media controls */